{% extends 'core/base.html' %}
{% load static %}

{% block title %}Editar noticia{% endblock title %}

{% block libreriasCSS %}
{% endblock libreriasCSS %}

{% block content %}

    <!-- BREADCRUMB -->
    <div class="row">
        <div class="col-xl-12">
            <div class="breadcrumb-holder">
                <h1 class="main-title float-left">Noticias</h1>
                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item">Inicio</li>
                    <li class="breadcrumb-item">Noticias</li>
                    <li class="breadcrumb-item active">Editar</li>
                </ol>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <!-- PANEL DE LA NOTICIA -->
    <div class="card">

      <!-- MENÚ DE NOTICIAS -->
      <h5 class="card-header text-white bg-dark">  
        {% if request.user.is_active %}
          {% include 'noticias/includes/_menu.html'%}
        {% endif %}
      </h5>

      <!-- DETALLE DE LA NOTICIA --> 
      <div class="card-body">
          <h5 class="card-title"></h5>
          <!-- Si se ha editado correctamente muestra mensaje y enlace al detalle de la noticia -->
          {% if 'ok' in request.GET %}
            <p class="card-text" style="color:green;">
              Noticia editada correctamente. 
              <a href="{% url 'noticias:noticia' noticia.id noticia.title|slugify %}">Haz clic aquí para ver el resultado</a>.
            </p>
          {% endif %}

          <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
              <div class="row mt-3">
                <!-- IMÁGEN Y BOTONES DEL FORMULARIO -->
                <div class="col-md-2">
                  <div class="row">
                    <input type="submit" class="btn btn-primary btn-block" value="Actualizar" />
                  </div>
                  <div class="row mt-2">
                    <a class="btn btn-secondary btn-block" href="{% url 'noticias:noticias' %}">Cancelar</a>
                  </div>
                </div>

                <!-- DETALLE DE LA NOTICIA -->
                <div class="col-md-10"> 
                    <!-- TABS. Editar noticia y Galería de Fotos -->
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                          <a class="nav-link active" data-toggle="tab" href="#tabDetalle" role="tab" aria-controls="home" aria-selected="true">
                            DETALLE
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#tabPortada" role="tab" aria-controls="profile" aria-selected="false">
                            IMAGEN
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#tabGaleria" role="tab" aria-controls="profile" aria-selected="false">
                            GALERÍA
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#tabFicheros" role="tab" aria-controls="profile" aria-selected="false">
                            FICHERO ADJUNTO
                          </a>
                        </li>
                    </ul>

                    <!-- Contenido de los TABS -->
                    <div class="tab-content" id="myTabContent">                
                        
                        <!-- Detalle de la Noticia -->
                        <div class="tab-pane fade show active" id="tabDetalle" role="tabpanel">
                              <div class="row mt-3 ml-3">
                                <!-- Datos de la noticia -->
                                <div class="col-md-12">                                      
                                  <input type="hidden" id="{{form.author.name}}" name="{{form.author.name}}" value="{{request.user.id}}">             
                                  <!-- Título de la noticia -->
                                  {{ form.title }}

                                  <!-- Entradilla de la noticia -->
                                  {{ form.subject }}

                                  <!-- Contenido (Editor de Texto) -->
                                  {{ form.content }}       

                                  <!-- Fecha de Publicación -->      
                                  <p><b>Fecha de Publicación</b></p>
                                  {{ form.published }}

                                </div>              
                              </div>
                        </div>

                        <!-- Foto de Portada -->
                        <div class="tab-pane fade" id="tabPortada" role="tabpanel">
                            <div class="row mt-3 ml-3">
                              <!-- Imagen de la noticia -->                      
                              <div class="custom-file">                      
                                <input type="file" class="custom-file-input mb-2" accept=".jpg,.gif,.png" 
                                        id="{{form.image.name}}" name="{{form.image.name}}">
                                <label class="custom-file-label" for="{{form.image.name}}">Seleccione Imágen de portada...</label>
                              </div>
                              {% if form.image.value %}
                                <img src="{{form.image.value.url}}" class="img-fluid mt-2" style="max-height: 50%; max-width: 50%;">                  
                                <p class="mt-1">¿Borrar? <input type="checkbox" id="image-clear_id" name="image-clear" /></p>
                              {% else %}
                                <img src="{% static 'noticias/img/no-image.png' %}" class="img-fluid mt-2">
                              {% endif %}
                            </div>
                        </div>

                        <!-- Galería de Fotos -->
                        <div class="tab-pane fade" id="tabGaleria" role="tabpanel">

                          <!-- Selección de la Galería de Fotos -->  
                          <div class="row mt-3 ml-3">
                            {{ form.galeria }}  
                          </div>
                        
                          {% if noticia.galeria %}
                            <div class="row mt-3 ml-3 mb-3">
                              <a href="{% url 'gallery:album_update' noticia.galeria.id %}" 
                                  id="mod_galeria" name="mod_galeria" class="btn btn-secondary btn-block">Añadir Imágenes</a>
                            </div>
                          {% else %}
                            <div class="row mt-3 ml-3">
                              <div class="form-row">
                                <a class="btn btn-secondary" href="{% url 'gallery:album_create' %}" role="button">Añádir Nueva Galería</a>                    
                              </div>
                            </div>
                            <!-- Botón que llama al formulario modal -->                      
                            <button type="button" class="add-galeria btn btn-primary" data-id="{% url 'gallery:album_create' %}">
                                Añadir Nueva Galería <span class="fas fa-plus-circle"></span>
                            </button>                 
                          {% endif %}

                          {% if noticia.galeria %}
                            <div class="card-columns mt-3 ml-3">
                                {% for imagen in noticia.galeria.images.all %}
                                    <div class="card">
                                      <img class="card-img-top" src="{{imagen.data.url}}">
                                    </div>
                                {% endfor %}
                            </div>
                          {% endif %}

                        </div>

                        <!-- Ficheros adjuntos (Por ahora solo uno) -->
                        <div class="tab-pane fade" id="tabFicheros" role="tabpanel">

                          <!-- Selección del fichero adjunto -->
                          <div class="custom-file mt-3 ml-3">

                            <input type="file" class="custom-file-input" accept=".pdf" 
                                    id="{{form.fichero.name}}" name="{{form.fichero.name}}" placeholder="{{form.fichero.value}}">
                            
                            {% if form.fichero.value %}
                              <label class="custom-file-label" for="{{form.fichero.name}}">{{form.fichero.value}}</label>
                              <p class="mt-1">Eliminar <input type="checkbox" id="fichero-clear_id" name="fichero-clear" /></p>
                            {% else %}
                              <label class="custom-file-label" for="{{form.fichero.name}}">Seleccione fichero adjunto...</label>
                            {% endif %}                         

                          </div>  
                        </div>                      
                    </div>

                </div>        
        </form>

      </div>
    </div>
  
{% endblock content %} 


{% block extrascripts %} 

    <script>
      // Add the following code if you want the name of the file appear on select
      $(".custom-file-input").on("change", function() {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
      });
    </script>


{% endblock extrascripts %}