{% extends 'core/base.html' %}          <!-- Cargamos el código html común -->
{% load static %}                       <!-- Cargamos los ficheros estáticos -->
{% load core_tags %}                    <!-- Cargamos los templatetags -->


{% block title %}Galería{% endblock %}

<!-- Librerías CSS - Específicas para esta página -->
{% block libreriasCSS %}  
    <link rel="stylesheet" href="{% static 'core/terceros/datatable/dataTables.bootstrap4.min.css' %}">
{% endblock %}

{% block content %}

    <!-- BREADCRUMB -->
    <div class="row">
        <div class="col-xl-12">
            <div class="breadcrumb-holder">
                <h1 class="main-title float-left">Galería</h1>
                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item">Inicio</li>
                    <li class="breadcrumb-item active">Albumes</li>
                </ol>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    
    <!-- LISTADO -->
    <div class="card">
        <h5 class="card-header text-white bg-dark">  
            <a href="{% url 'gallery:album_create' %}" class="btn btn-primary" role="button">
                Nueva Galería 
                <span class="fas fa-plus-circle"></span>
            </a> 
        </h5>

        <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">
                <table id="iddatatable" class="table table-hover table-condensed table-bordered">
                    <thead style="background-color: #005b9f; color: white; font-weight: bold; ">
                        <tr>
                            <th>Portada</th>
                            <th>Álbum</th>
                            <th>Noticias Relacionadas</th>
                            <th>Borrar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for album in object_list %}
                            <tr>
                                <td width="10%">
                                    {% if album.images %}
                                        <img src="{{album.images.first.data.url}}" class="avatar-rounded">
                                    {% else %}
                                        <img src="{% static 'gallery/images/album.png' %}" class="avatar-rounded">
                                    {% endif %}
                                </td>
                                <td><a href="{% url 'gallery:album_detail' album.pk album.slug  %}">{{album.title}}</a></td>
                                <td>
                                    {% get_galeria_noticias album.id as noticias %}                 
                                    {% for noticia in noticias %}
                                        <a href="{% url 'noticias:noticia' noticia.id noticia.title|slugify %}">
                                            {{noticia.id|stringformat:"04d"}}
                                        </a>
                                        {% if not forloop.last %} , {% endif %}
                                    {% endfor %}
                                </td>                                
                                <td width="5%">
                                  <a href="{% url 'gallery:album_delete' album.id %}" id="delAlbum" name="delAlbum" class="btn btn-outline-danger btn-sm">
                                    <i class="fas fa-trash-alt fa-xs"></i>
                                  </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot style="background-color: #373737; color: white; font-weight: bold;">
                        <th>Portada</th>
                        <th>Álbum</th>
                        <th>Noticias</th>
                        <th>Borrar</th>
                    </tfoot>
                </table> 
            </p>            
        </div>
    </div>


{% endblock %}

<!-- Librerías JS - Específicas para esta página -->
{% block extrascripts %}
    <script src="{% static 'core/terceros/datatable/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'core/terceros/datatable/dataTables.bootstrap4.min.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#iddatatable').DataTable({
                "language": {
                            "url": "//cdn.datatables.net/plug-ins/1.10.18/i18n/Spanish.json"
                        }
            });
        } );
    </script>
{% endblock extrascripts %}