{% extends 'core/base.html' %}          <!-- Cargamos el código html común -->
{% load static %}                       <!-- Cargamos los ficheros estáticos -->

{% block title %} {{album.title}} {% endblock title %}

<!-- Librerías CSS - Específicas para esta página -->
{% block libreriasCSS %} 
    <link rel="stylesheet" href="{% static 'gallery/css/gallery.css' %}">
{% endblock libreriasCSS %} 


{% block content %}

    <!-- BREADCRUMB -->
    <div class="row">
        <div class="col-xl-12">
            <div class="breadcrumb-holder">
                <h1 class="main-title float-left">Galería</h1>
                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item">Inicio</li>
                    <li class="breadcrumb-item">Álbum</li>
                    <li class="breadcrumb-item active">Nuevo</li>
                </ol>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <!-- PANEL -->
    <div class="card">
        <h5 class="card-header text-white bg-dark">  
            {% include 'gallery/includes/_menu.html'%}
        </h5>

        <div class="card-body">
            <h5 class="card-title"></h5>

            <form method="post" id="albumcreateform" enctype="multipart/form-data">
                {% csrf_token %}

                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                {{form.title}}

                <div>
                    <label class="imagepicker imagepicker-add thumbnail">
                    <input type='file' id="imagenes" name="imagenes" 
                        multiple multiple data-max-file-size="3MB" data-max-files="10" />
                    </label>
                </div>

                <button class="btn btn-primary btn-block mt-3" type="submit">Crear Álbum</button>
                <a class="btn btn-secondary btn-block" href="{% url 'gallery:album_list' %}">Cancelar</a>

            </form>

        </div>

    </div>    

{% endblock content %}

{% block extrascripts %}
    <script src="{% static 'gallery/js/gallery.js' %}"></script>
{% endblock extrascripts %}

