{% load widget_tweaks %}

<form method="post" action="">
  {% csrf_token %}

  <div class="modal-header">
    <h3 class="modal-title">Quitar Ponente</h3>
  </div>

  <div class="modal-body">
    <p class="delete-text">Está a punto de quitar a
      <strong>{{materia.ponente.filter(id=idPonente)}}</strong> 
      como ponente del {{materia.tipo_materia.des_materia}} : {{materia.denominacion}}
    </p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
    <button type="submit" class="delete-btn btn btn-danger">Delete</button>
  </div>

</form>